{% extends "share/master.html" %}
{% block title %}账号管理{% end %}{% block main %}
<div class="page-inner">
    <div class="page-title">                                                   
        <h3>账号管理</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">账号管理</a></li>
                <li><a href="#">查询账号</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">                                                             
        <div class="row m-t-md">
            <div class="col-md-12">
                <div class="row mailbox-header">
                    <div class="pull-left form-group" style="padding:15px 0 0 15px;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                          导入账号(.txt)
                        </button>
                    </div>
                    <div class="pull-left form-group" style="padding:15px 0 0 15px;">
                        <a href="/account/edit" class="btn btn-success">添加账号</a>
                        <input id="lefile" type="file" style="display:none">  
                    </div>
                   <!--  <label class="control-lable">111</label>
                    <input id="input1" type='file' class='file'> -->
                    <!--
                    <div class="pull-left" style="padding:15px 0 0 20px;">
                        <a href="#" id="delete" class="btn btn-success">删除</a>
                    </div> -->
                    <div class="col-sm-3 col-xs-1 pull-right" style="width:50%">
                        <form action="/account/check" method="get">
                            <div class="input-group" style="width:1%; float:right; margin-right:8%;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit" style="margin-right:20px"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            <div class="form-group">
                                <div class="input-group" style="float:right;">
                                    <select id="account_id" name="account_id" class="selectpicker" data-width="100%" data-live-search="true">
                                        <option value="0" {{ account_id == "0" and "selected=selected" or "" }}>账号查询</option>
                                        {% for i in accounts %}
                                            <option value="{{i._id}}" {{ str(i._id) == account_id and "selected=selected" or "" }}>{{i.account}}</option>
                                        {% end %}
                                    </select>       
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="mailbox-content panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <table id="example" class="table dataTable display" width="100%">
                                    <thead>
                                        <tr>
                                            <th colspan="1" style="width:6%">
                                                <span><input id="selectall" type="checkbox" class="check-mail-all"></span>
                                            </th>
                                            <th nowrap="nowrap" style="width:13%">
                                                <span>账号</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>密码</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>状态</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>登记时间</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in account %}
                                        <tr class="unread">
                                            <td>
                                                <span><input type="checkbox" class="checkbox-mail cb" data-id={{ i._id}} /></span>
                                            </td>
                                                <td id="mod">
                                                    <a href="/account/edit?id={{ i._id }}">
                                                        {{ "account" in i and i.account or "" }}
                                                    </a>
                                                </td>
                                            <td>
                                                {{ "password" in i and i.password or "" }}
                                            </td>
                                            <td>
                                                {{ "status" in i and i.status != 1 and '禁用' or '开启' }}
                                            </td>
                                            <td>
                                                {{ "created" in i and i.created.strftime("%Y-%m-%d %H:%M:%S") or "" }}
                                            </td>
                                        </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                {% include "share/pagination.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel" style="margin-left:15px">导入账号</h3>
      </div>
      <div class="modal-body">
        <form id="main-form" action="/account/import" enctype="multipart/form-data" method="post">
            <input id="file" name="file" type="file" style="display:none">
            <div class="form-group">
                <label for="title" class="col-md-1 control-label"><a class="btn btn-primary" onclick="$('input[id=file]').click();">选择</a></label>
                <div class="col-md-4">
                    <input id="photoCover" class="form-control" placeholder='.txt文件' type="text" style="width:200px;">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <input id="submitBtn" type="button" value="上传" class="btn btn-success">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
{% end %}
{% block script %}
<script type="text/javascript">  
    $(function() {
        $('#submitBtn').click(function(res){
            $(this).attr('disabled','disabled');
            $('#main-form').submit();

            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'fadeIn',
                hideMethod: 'fadeOut',
                timeOut: 1000
            };

            if(res.status === "ok") {
                toastr.success('操作成功!', '操作成功');

                setTimeout(function() {
                    window.location.href = "/account/check"
                }, 1000);
            } else {
                toastr.error(res.desc, '操作失败');
            }

        })
        $('input[id=file]').change(function() {
            $('#photoCover').val($(this).val());
        });
    })
</script>  
{% end %}