{% extends "share/master.html" %}
{% block title %}场次管理{% end %}{% block main %}
<div class="page-inner">
    <div class="page-title">                                                   
        <h3>场次管理</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">场次管理</a></li>
                <li><a href="#">场次管理</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">                                                             
        <div class="row m-t-md">
            <div class="col-md-12">
                <div class="row mailbox-header">
                    <div class="col-sm-2 col-xs-1 pull-right" style="width:20%">
                        <form action="/acts" method="get">
                            <div class="form-group" >
                                <div class="input-group">
                                    <input id="key" name="key" type="text" class="form-control input-search" value="{{ key }}"  placeholder="关键字" style="width:120px;">
                                    <span class="input-group-btn">
                                        <button id="key_save" class="btn btn-success" type="submit">查找</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mailbox-content panel">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <table id="example" class="table dataTable display" width="100%">
                                    <thead>
                                        <tr>
                                            <th nowrap="nowrap" style="width:8%">
                                                <span>图片</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:8%">
                                                <span>场次ID</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:13%">
                                                <span>场次名称</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:7%">
                                                <span>状态</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>开始时间</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>结束时间</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:12%">
                                                <span>演出地址</span>
                                            </th>
                                            <th nowrap="nowrap" style="width:10%">
                                                <span>更新时间</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set yl_url = 'http://static.228.cn' %}
                                    {% for i in act %}
                                        <tr class="unread">
                                            <td>
                                                {% set imgPath = "imgPath" in i and yl_url+i.imgPath or "" %}
                                                {% if imgPath %}
                                                    <img src="{{imgPath}}" style='height:80px; width:80px;'>
                                                {% end %}
                                            </td>
                                            <td>
                                                <a href="/order/edit?id={{ i._id }}">
                                                    {{ "productId" in i and i.productId or "" }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ "name" in i and i.name or "" }}
                                            </td>
                                            <td>
                                                {% set kvs = { 0 : "正常", 1 : "预售", 2 : "停售", 3 : '待售' } %}
                                                {{ "status" in i and i.status in [ 0, 1, 2, 3 ] and kvs[i.status] or '未知' }}
                                            </td>
                                            <td>
                                                {{ "beginDate" in i and i.beginDate or "" }}
                                            </td>
                                            <td>
                                                {{ "finishDate" in i and i.finishDate or "" }}
                                            </td>
                                            <td>
                                                {{ "venueName" in i and i.venueName or "" }}
                                            </td>
                                            <td>
                                                {{ "created" in i and i.created.strftime("%Y-%m-%d %H:%M:%S") or "" }}
                                            </td>
                                        </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                {% include "share/pagination.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
