{% extends "share/master.html" %}
{% block title %}订单创建{% end %}  
{% block css %}
<style type="text/css">
    .radio {
        display:none;
    }
</style>
{% end %}                                          
{% block main %}
<div class="page-inner">
    <div class="page-title">                
        <h3>订单创建</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/acts">场次管理</a></li>
                <li class="active">订单创建</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="form-horizontal">
                        <input id="id" type="hidden" value="{{ user and user._id or ""}}">
                            <div class="form-group">
                                <label for="userid" class="col-sm-2 control-label">* 用户ID：</label>
                                <div class="col-md-4">
                                    {% if user%}
                                        <input id="userid" type="text" class="form-control" value="{{ user and user.userid or "" }}" readonly />
                                    {% else %}
                                        <input id="userid" type="text" class="form-control" placeholder="6位或以上的字母+数字组合" value="{{ user and user.userid or "" }}" />
                                    {% end %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">* 昵称：</label>
                                <div class="col-md-4">
                                    <input id="username" type="text" class="form-control" placeholder="用户姓名" value="{{ user and "username" in user and user.username or "" }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">* 密码：</label>
                                <div class="col-md-4">
                                    <input id="password" type="password" class="form-control" placeholder="密码" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">电话：</label>
                                <div class="col-md-4">
                                    <input id="phone" type="text" class="form-control" placeholder="电话" value="{{ user and "phone" in user and user.phone or "" }}" />
                                </div>
                            </div>
                            <div id="status" class="form-group">
                                <label class="col-md-2 control-label">状态：</label>
                                <div class="col-md-4">
                                    <div class="btn-group aa" data-toggle="buttons">
                                        <label class="btn btn-default {{ user and "status" in user and user.status == 1 and "active" or "" }}">
                                            <input style="height:30px" type="radio" name="status" class="status" value="1" />
                                            开启
                                        </label>
                                        <label class="btn btn-default {{ user and "status" in user and user.status == 0 and "active" or "" }}">
                                            <input type="radio" name="status" class="status" value="0" />
                                            禁用
                                        </label>
                                    </div>
                                </div>
                            </div>   
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a id="save_user" href="#" class="btn btn-success" style="width:100px;margin-right:5px;">保存</a>
                                    <button type="button" class="btn btn-default" style="width:80px;" onClick="javascript :history.back(-1);">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Page Inner -->
{% end %}
{% block script %}
<script type="text/javascript">
    $("#save_user").click(function() {
        var data = {};
        data["id"] = $("#id").val();
        data["userid"] = $("#userid").val();
        data["username"] = $("#username").val();
        data["phone"] = $("#phone").val();
        data["status"] = $("#status .active input").val();
        data["password"] = $("#password").val();

        $.post("/user/edit", data, function(res){
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'fadeIn',
                hideMethod: 'fadeOut',
                timeOut: 1000
            };

            if(res.status === "ok") {
                toastr.success('操作成功!', '操作成功');

                setTimeout(function() {
                    window.location.href = "/user"
                }, 1000);
            } else {
                toastr.error(res.desc, '操作失败');
            }
        });
    });
</script> 
{% end %}
